:root{
  --bg-color: #1a1a1a; 
  --primary-color: #ffffff; 
  --secondary-color: #333333;
  --text-color: #f5f5f5; 
  --link-color: #dcdcdc;
  --structure-bg: #222222; 
  --section-bg: #2a2a2a; 
  --input-bg: #444444; 
  --border-color: #555555; 
  --second-bg-color: #0a0a0a; 
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-size: 10px;
  /* user-select: none; */
}

body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: var(--section-bg);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  gap: 20px;
}

h1{
  font-size: 35px;
  color: var(--text-color);
}

a{
  width: 100px;
  background-color: #266e04;
  color: var(--primary-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  float: right;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
}

input, textarea{
  background-color: var(--input-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  margin-bottom: 10px;
  width: 100%;
  border-radius: 12px;
  display: block;
  padding: 10px 15px;
  font-size: 2rem;
  outline: none;
}

input[type="submit"],input[type="reset"]{
  width: 250px;
  font-size: 2rem;
  color:var(--text-color);
  margin-inline: 10px;
  border: 2px solid var(--border-color);
}

label{
  font-size: 2.2rem;
  letter-spacing: .275rem;
  color: var(--text-color);
}

textarea{
  width: 100%;
  height: auto;
  resize: vertical;
  overflow: hidden;
}

small{
  color: red;
  display: block;
  font-size: 1.8rem;
}

.row{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  gap:10px;
}

.row_selects{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap:10px;
}

.row_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}

.column{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: 5px;
  gap:10px;
}

select {
  background-color: var(--input-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  appearance: none; /* Remove a seta padrão do select */
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  font-size: 2rem;
}

select:focus {
  outline: none;
  border-color: var(--link-color);
}

option {
  background-color: var(--input-bg);
  color: var(--text-color);
  font-size: 2rem;
}


.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 300px;
}

.custom-select-wrapper::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--link-color);
}

