:root{
    --bg-color: #1a1a1a; 
    --primary-color: #ffffff; 
    --secondary-color: #333333;
    --text-color: #f5f5f5; 
    --link-color: #dcdcdc;
    --structure-bg: #222222; 
    --section-bg: #2a2a2a; 
    --input-bg: #444444; 
    --border-color: #555555; 
    --second-bg-color: #0a0a0a; 
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-size: 10px;
    /* user-select: none; */
}

nav{
    width: 100%;
    height: 8vh;
    background-color:var(--second-bg-color);
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0 !important;
    z-index: 2;
    border-bottom: 2px solid var(--color-primary-600);
}

nav #logo{
    width: 4.5vw;
    height: 7vh;
    margin-inline: 1rem;
    padding: 5px;
}

nav #logo a{
    color: var(--text-color);
}

nav #logo a i{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 5rem;
}

nav #links{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #links a{
    font-size: 2.75rem;
    margin-inline: 3.25rem;
    letter-spacing: .35rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-color);
    position: relative;
}

nav #links a::after{
    content: '';
    position: absolute;
    bottom: 0;
    /* left:0; */ /* para começar no inicio */
    left:50%; /* para começar no meio */
    width:0%;
    height:2px;
    background-color: var(--text-color);
    transition: 0.3s ease-in-out;
}

nav #links a:hover::after{
     left:0;
     width: 100%;
     border-radius: 20%;
}

nav #acc_opts{
    width:250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #acc_opts a{
    font-size: 1.7rem;
    margin-inline: 2rem;
    letter-spacing: .3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: var(--primary-color);
    position: relative;
}

nav #acc_opts a::after{
    content: '';
    position: relative;
    bottom: 0;
    /* left:0; */ /* para começar no inicio */
    left:50%; /* para começar no meio */
    width:0%;
    height:2px;
    background-color: var(--text-color);
    transition: 0.3s ease-in-out;
}

nav #acc_opts a:hover::after{
    left:0;
    width: 100%;
    border-radius: 20%;
}

nav a{
    text-decoration: none;
}

#userOptions {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

#userOptions img {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 80px; 
    right: 0;
    background-color: var(--structure-bg);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    padding: 10px;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -10px; 
    right: 10px; 
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--structure-bg) transparent;
}

.dropdown-menu p{
    font-size: 2.75rem;
    color: var(--link-color);
    border-bottom: 2px solid var(--border-color);
    padding: 10px;
    white-space: nowrap;
    margin-block: 15px;
}

.dropdown-menu p span{
    font-size: 2.3rem;
    color: var(--link-color);
}
.dropdown-menu li {
    list-style-type: none;
}

.dropdown-menu li a {
    color: var(--link-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 2.5rem;
    white-space: nowrap;
}

.dropdown-menu li a i{
    font-size: 2.3rem;
    margin-right: 10px;
}

.dropdown-menu li a:hover {
    background-color: var(--secondary-color);
}